        .heading{color: white; font-size: 100px; text-align: center; background-color: orchid; font-family: helvetica;}
        .subheading{color:rgb(53, 49, 49); font-size: 30px; text-align: center; background-color: orange; font-family: 'Franklin Gothic Medium';}
        .row1{color: white; font-size: 20px; background-color: orange;}
        .row2{ color:white; font-size: 20px; background-color:orchid;}
        .row3{color: white; font-size: 20px; background-color: orange;}
        .row4{color: white; font-size: 20px; background-color: orchid;}
        .row5{color: white; font-size: 20px; background-color: orange;}
        .row6{color: white; font-size: 20px; background-color: orchid;}
        .row7{color: white; font-size: 20px; background-color: orange;}
        .row8{color: white; font-size: 20px; background-color: orchid;}
        .row9{color: white; font-size: 20px; background-color: orange;}
        .row10{color:white; font-size: 20px; background-color: orchid;}
        .row11{color:white; font-size: 20px; background-color: orange;}
        .row12{color:white; font-size: 20px; background-color: orchid;}
        .row13{color:white; font-size: 20px; background-color: orange;}
        .row14{color:white; font-size: 20px; background-color: orchid;}
        .row15{color:white; font-size: 20px; background-color: orange;}
        .row16{color:white; font-size: 20px; background-color: orchid;}
        .row17{color:white; font-size: 20px; background-color: orange;}
        .row18{color:white; font-size: 20px; background-color: orchid;}
        .row19{color:white; font-size: 20px; background-color: orange;}
        .row20{color:white; font-size: 20px; background-color: orchid;}
        .row21{color:white; font-size: 20px; background-color: orange;}
        .row22{color:white; font-size: 20px; background-color: orchid;}
        .row23{color:white; font-size: 20px; background-color: orange;}
        .row24{color:white; font-size: 20px; background-color: orchid;}
        .row25{color:white; font-size: 20px; background-color: orange;}
        .row26{color:white; font-size: 20px; background-color: orchid;}
        .row27{color:white; font-size: 20px; background-color: orange;}
        .row28{color:white; font-size: 20px; background-color: orchid;}
        .row29{color:white; font-size: 20px; background-color: orange;}
        .row30{color:white; font-size: 20px; background-color: orchid;}
        .row31{color:white; font-size: 20px; background-color: orange;}
        .row32{color:white; font-size: 20px; background-color: orchid;}
        .row33{color:white; font-size: 20px; background-color: orange;}
        .row34{color:white; font-size: 20px; background-color: orchid;}
        .row35{color:white; font-size: 20px; background-color: orange;}
        .row36{color:white; font-size: 20px; background-color: orchid;}
        .row37{color:white; font-size: 20px; background-color: orange;}
        .row38{color:white; font-size: 20px; background-color: orchid;}
        .row39{color:white; font-size: 20px; background-color: orange;}
        .row40{color:white; font-size: 20px; background-color: orchid;}
        .row41{color:white; font-size: 20px; background-color: orange;}
        .row42{color:white; font-size: 20px; background-color: orchid;}
        .row43{color:white; font-size: 20px; background-color: orange;}
        .row44{color:white; font-size: 20px; background-color: orchid;}
        .row45{color:white; font-size: 20px; background-color: orange;}
        .row46{color:white; font-size: 20px; background-color: orchid;}
        .row47{color:white; font-size: 20px; background-color: orange;}
        .row48{color:white; font-size: 20px; background-color: orchid;}
        .row49{color:white; font-size: 20px; background-color: orange;}
        .row50{color:white; font-size: 20px; background-color: orchid;}
        .row51{color:white; font-size: 20px; background-color: orange;}
        .row52{color:white; font-size: 20px; background-color: orchid;}
        .row53{color:white; font-size: 20px; background-color: orange;}
        .row54{color:white; font-size: 20px; background-color: orchid;}
        .row55{color:white; font-size: 20px; background-color: orange;}
        .row56{color:white; font-size: 20px; background-color: orchid;}
        .row57{color:white; font-size: 20px; background-color: orange;}
        .row58{color:white; font-size: 20px; background-color: orchid;}
        .row59{color:white; font-size: 20px; background-color: orange;}
        .row60{color:white; font-size: 20px; background-color: orchid;}
        .row61{color:white; font-size: 20px; background-color: orange;}
        .row62{color:white; font-size: 20px; background-color: orchid;}
        .row63{color:white; font-size: 20px; background-color: orange;}
        .row64{color:white; font-size: 20px; background-color: orchid;}
        .row65{color:white; font-size: 20px; background-color: orange;}
        .row66{color:white; font-size: 20px; background-color: orchid;}
        .row67{color:white; font-size: 20px; background-color: orange;}
        .row68{color:white; font-size: 20px; background-color: orchid;}
        .row69{color:white; font-size: 20px; background-color: orange;}
        .row70{color:white; font-size: 20px; background-color: orchid;}